@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.navbar {
  width: 100%;
  border-radius: 0;
  border-bottom: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: rgba(10, 10, 10, 0.5);
  margin: 0;
}
.navbar .navbar-header {
  margin: 0;
}
.navbar-collapse {
  transition: clip-path ease-in-out 700ms;
}
.navbar-collapse.collapse.in {
  clip-path: circle(150% at top right);
}
.navbar-nav {
  float: right;
  margin: 0;
  transition: all 0.35s ease;
  height: auto;
}
.navbar-nav li {
  list-style: none;
  float: left;
}
.navbar-nav li a {  
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 32px 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.07); 
  transition: max-height 0.4s;
  -webkit-transition: visibility .4s ease, top .4s ease, bottom .4s ease, background .4s ease, margin .4s ease, opacity .4s ease;
  transition: visibility .4s ease, top .4s ease, bottom .4s ease, background .4s ease, margin .4s ease, opacity .4s ease;
}
.navbar-nav li a:hover {
  color: #fff !important;
  background-color: #b7bbc1;
  border-bottom: 1px solid #b7bbc1;
}
.navbar-nav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #b7bbc1;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.navbar-nav li a:focus {
  color: #fff !important;  
  text-decoration: none;
  background-color: #b7bbc1;
}
.navbar-nav li a:hover:before {
  transform: scaleY(1);
}
.navbar-nav li a.active {
  color: #fff;
  background-color: #b7bbc1;
}
.navbar-nav li a i {
  font-size: 11px;
  padding-left: 7px;
  color: #fff;
}
.navbar-nav li .sub-menu {
  position: absolute;
  margin: 0 auto;
  padding: 0 !important;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  width: 109px;
  background-color: #fff;
  -webkit-transition: visibility .4s ease, top .4s ease, bottom .4s ease, background .4s ease, margin .4s ease, opacity .4s ease;
  transition: visibility .4s ease, top .4s ease, bottom .4s ease, background .4s ease, margin .4s ease, opacity .4s ease;
}
.navbar-nav li:hover .sub-menu {
  margin-top: 0;
  top: 100%;
  opacity: 1;
  position: absolute;
  visibility: visible;
}
.navbar-nav,
.sub-menu {
  padding-left: 0;
}
.navbar-nav li a.boton-idioma-español {
  padding: 30px 0;
  width: 109px;
}
.sub-menu li a.boton-idioma-ingles {
  padding: 30px 0 30px 15px;
  width: 109px;
}
.idioma-español {
  width: 20px;
  padding-right: 5px;
  position: relative;
  top: -1px;
}
.idioma-ingles {
  width: 20px;
  padding-right: 5px;
  position: relative;
  top: -2px;
  float: left;
}
.sub-menu li:hover {
  transition: .3s all ease-in;
}
.sub-menu li a {
  width: 100%;
  z-index: 999999;
}
.sub-menu li a:hover {
  background-color: transparent;
}
.sub-menu li a p {
  color: #000;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-align: initial;
}
.sub-menu li img {
  padding-bottom: 10px;
}
.navbar-logo {
  display: block;
  float: left;
}
.navbar-logo .logo-white { 
  max-height: 55px;  
  transition: max-height 0.4s;
  max-width: none;
  position: absolute;
  opacity: 1;
  margin-top: 8px;
}
.navbar-logo .logo-color { 
  max-height: 55px;
  transition: max-height 0.4s;
  max-width: none;
  margin-top: 8px;
}

/*Efecto Scroll*/
.scrolled ul.navbar-nav li a {
  color: #353535;
  padding: 22px 8px;
  width: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
}
.scrolled ul.sub-menu li a {
  color: #fff;
  padding: 20px 13px;
  background-color: white;
}
.scrolled .sub-menu {
  width: 85px;
}
.scrolled .navbar-nav li a i {
  color:#000;
}
.scrolled .navbar-nav li .sub-menu {
  width: 105px;
}
.scrolled .navbar-logo .logo-white {
  transition: max-height 0.4s, opacity 0.3s;
  opacity: 0;
  margin-top: 6px;
  max-height: 45px;
}
.scrolled .navbar-logo .logo-color {
  max-height: 45px;
  transition: max-height 0.4s, opacity 0.3s;
  margin-top: 6px;
}
.scrolled .navbar-nav li a.boton-idioma-español {
  padding: 20px 8px;
}

/*Menuú Hamburger*/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}
.hamburger:hover {
  opacity: 0.7; 
}
.hamburger.is-active:hover {
  opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #8cc63e; 
}
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; 
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #8cc63e;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}
.hamburger-inner::before {
  top: -10px; 
}
.hamburger-inner::after {
  bottom: -10px; 
}

/*Efecto menú hamburg*/
.hamburger--emphatic {
  overflow: hidden; 
  float: right; 
  display: none;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in; }
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), 
  top 0.05s 0.125s linear, 
  left 0.125s 0.175s ease-in; 
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), 
  top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; 
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important; 
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, 
  top 0.05s 0.125s linear, 
  transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, 
  top 0.05s 0.125s linear, 
  transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

/*VIDEO INTRO*/
.contenedor-web { 
  background: #fff; 
}
.contenedor-web a { 
  color: #be4856;
}
.ip-header {
  display: table;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.ip-logo,
.ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
.ip-loader {
  bottom: 35%;
}
.ip-header .ip-inner {
  display: block;
  margin: 0 auto;
}
.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 6;
}
.ip-header .ip-loader svg path.ip-loader-circlebg {
  stroke: #fff;
}
.ip-header .ip-loader svg path.ip-loader-circle {
  -webkit-transition: stroke-dashoffset 15s;
  transition: stroke-dashoffset 2s;
  stroke: #B5D77B;
}
/* Animacióon circulo loading */
.loading .ip-logo,
.loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}
.loading .ip-loader {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes animInitialHeader {
  from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}
@keyframes animInitialHeader {
  from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}
/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
  opacity: 1;
}
.loaded .ip-logo {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}
.loaded .ip-header {
  -webkit-animation: animLoadedHeader 12s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedHeader 12s cubic-bezier(0.7,0,0.3,1) forwards;
}
@-webkit-keyframes animLoadedHeader {
  to { -webkit-transform: translate3d(0,-100%,0); }
}
@keyframes animLoadedHeader {
  to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}
.loaded .ip-loader {
  -webkit-animation: animLoadedLoader 6s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedLoader 6s cubic-bezier(0.7,0,0.3,1) forwards;
}
@-webkit-keyframes animLoadedLoader {
  to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}
@keyframes animLoadedLoader {
  to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}
.animated1 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;  
}
.animated2 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Rotación*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/*Rotación */
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -700deg);
    transform: rotate3d(0, 0, 1, -700deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    -webkit-transform: rotate3d(0, 0, 6, -700deg) scale3d(.3, .3, .3);;
    transform: rotate3d(0, 0, 6, -700deg) scale3d(.3, .3, .3);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes rotateLeft {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 700deg);
    transform: rotate3d(0, 0, 1, 700deg);
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotateLeft {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 6, 700deg);
    transform: rotate3d(0, 0, 6, 700deg);
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
.rotateLeft {
  -webkit-animation-name: rotateLeft;
  animation-name: rotateLeft;
}

/*VIDEO*/
.video-empresa {
  width: 100%; 
  max-width: none;
  top:0;
  position: relative;
  bottom: 140px;
  opacity: .7;
  display: block;
}
.logo-superior-intro { 
  width: 100px; 
  display: inline-block; 
  margin: 0 auto; 
  line-height: 200px; 
  position: absolute; 
  z-index: 99999; 
  text-align: center; 
  top:150px; 
  left:0; 
  right: 0;
}
.logo-inferior-intro {
  opacity: 0; 
  width: 200px; 
  display: inline-block; 
  margin: 0 auto; 
  padding-top: 25px; 
  z-index: 99999; 
  text-align: center;
  position: absolute; 
  top:250px;
  left:0; 
  right: 0;
}
.textura {
  background-color: #000;
}

/*SECCIONES*/
section {
  padding: 0;
}

/*NOSOTROS*/
.empresa {
  background-image: url(imagenes/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}
.bloque-empresa {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 78px 0;
} 
.parrafo-nosotros {
  padding: 50px 0;
}
.nosotros p{
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}
.nosotros h2 {
  font-size: 45px;
  font-family: 'Cambo', serif;
  color: #bf0411;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-bottom: 55px;
}
.nosotros h2:after {
  content: "";
  position: relative;
  height: 1px;
  width: 150px;
  background:rgba(0,0,0,.25);
  left: 40%;
  top: 15px;
  display: block;
}
.iconos-caracteristicas {
  padding-bottom: 45px;
}
.caracteristicas-nosotros h3 {
  font-size: 35px;
  font-family: 'Cambo', serif;
  color: #fff;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.caracteristicas-nosotros h2:after {
  content: "";
  position: relative;
  height: 1px;
  left: 0;
  width: 100%;
  background:rgba(0,0,0,.25);
  top: 15px;
  display: block;
}
.caracteristicas-nosotros p{
  font-family: 'News Cycle', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
  height: 97px;
}
.caracteristicas-nosotros i {
  font-size: 45px;
  color: #b8db7c;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 30px 0 15px 0;
  width:100%;
  -webkit-transition:all .9s ease;
  -moz-transition:all .9s ease;
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease;
}
.caracteristicas-nosotros i:hover {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  color: #9ed0d6;
}

/*FORMULARIO*/
.bloque-formulario {
  background-color: #000;
  padding: 30px 0 52px 0;  
  height: auto;
}
.asesoramiento {
  position: relative;
  top: -105px;  
  margin-bottom: -105px;
  overflow: hidden;
  z-index: 9;
}
.texto-intro-formulario {
  padding: 25px 0;
  margin: 0 auto;
}
.texto-intro-formulario h2 {
  font-family: 'Cambo', serif;
  font-size: 30px;
  color: #8cc63e;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}
.texto-intro-formulario p {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  padding-top: 20px;
}
.texto-intro-formulario .campos-obligatorios {
  font-family: 'News Cycle', sans-serif;
  font-size: 13px;
  color: #fff;
  line-height: 1.4;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  padding: 0 15px 15px 15px;
}
.datos-cliente-formulario {
  border-right: 1px solid #333;
  padding-right: 15px;
}
.datos-cliente-formulario,
.datos-servicio-formulario{
  overflow: hidden;
}
.datos-cliente-formulario h3,
.datos-servicio-formulario h3 {
  font-family: 'Cambo', serif;
  line-height: 1.4;
  margin: 0 auto;
  text-align: left;
}
.datos-cliente-formulario h3 {
  padding: 0 0 15px 0;
  font-size: 20px;  
  color: #8cc63e;
}
.datos-servicio-formulario h3 {
  font-family: 'Cambo', serif;
  line-height: 1.4;
  margin: 0 auto;
  text-align: left;
  padding: 0 0 15px 15px;
  font-size: 20px;
  color: #8cc63e;
}
.datos-servicio-formulario p {
  font-family: 'Cambo', serif;
  line-height: 1.4;
  margin: 0 auto;
  font-size: 12px;
  text-align: left;
  color: #fff;
  padding: 0 15px 15px 15px;
}
.formulario,
.formulario-completo {
  overflow: hidden;
}
form {
  overflow: hidden;
}
select {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: inline;
  height: 32px;
  width: 100%;
  margin-bottom: 15px;
  color: #888;
  font-size: 14px;
  padding: 6px 12px;
}
textarea.form-control {
  height: 175px;
}
textarea.form-control-servicio {
  height: 125px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: inline;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
input[type=file] {
  display: none;
}
.form-group .fas {
  color: red;
  font-size: 40px;
}
.form-control {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: inline;
  height: 32px;
}
.form-control:focus {
  border-bottom: 1px solid #8cc63e;
}
.form-control-area {
  background-color: #e5e5e5;
  border: none;
  border-radius: 0;
  display: inline;
  height: 40px;
  width: 28%;
}
.form-control-telefono {
  background-color: #e5e5e5;
  border: none;
  border-radius: 0;
  display: inline;
  height: 40px;
  width: 70%;
  margin-left: 5px;
}
.boton-enviar {
  font-family: 'Archivo Narrow', sans-serif;  
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  height: 31px;
  padding: 0;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #8cc63e;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  top: -7px;
  transition: all ease 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.boton-enviar:hover {
  background: #9ed0d6;
  font-weight: 500;  
}
.boton-enviar a {
  color: #fff;
}
.boton-enviar a:hover{
  text-decoration: none;
  list-style-type: none;
}
input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/*SERVICIO*/
.servicio {
  position: relative;
  background-repeat: no-repeat;
  max-width: 100%;
  background-image: url(imagenes/servicios.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 50%;
}
.servicios-bloque {
  background: linear-gradient(-45deg, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0.5) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(150, 150, 150, 0.5), rgba(150, 150, 150, 0.5) 100%);
  opacity: 1;
}
.parrafo-servicios {
  padding: 0;
}
.texto-servicios p {
  font-family: 'News Cycle', sans-serif;
  color: #6F817B;
  font-size: 16px;
  text-align: left;
  padding-bottom: 5px;
  line-height: 1.5;
  margin: 0 auto;
}
.texto-servicios p span{
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #6F817B;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 5px;
}
.contenedor-servicios {
  background: #fff;
  padding: 120px 30px;
}
.contenedor-servicios h2 {
  font-size: 45px;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: 'Cambo', serif;
  color: #6F817B;
}

/*CONTACTENOS*/
.contactenos {
  padding: 50px 0;
  background-color: #000;
}
.contactenos h2 {
  font-size: 45px;
  text-align: center;
  margin: 0 0 20px 0;
  font-family: 'Cambo', serif;
  color: #fff;
  margin-bottom: 20px;
}
.contactenos p {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #6F817B;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}
.contactenos .boton-enviar {
  width: 50%;
  margin:0 auto;
}

/*REPRESENTACION*/
.representacion {
  position: relative;
  max-width: 100%;
  background-image: url(imagenes/representacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 50%;
}
.representacion-bloque {
  background: linear-gradient(-45deg, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0.5) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(150, 150, 150, 0.5), rgba(150, 150, 150, 0.5) 100%);
  opacity: 1;
}
.parrafo-representacion {
  padding: 0;
}
.texto-representacion p {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #6F817B;
  text-align: left;
  line-height: 1.5;
  padding-bottom: 5px;
  margin: 0 auto;
}
.contenedor-representacion {
  background: #fff;
  padding: 120px 30px;
}
.contenedor-representacion h2 {
  font-family: 'Cambo', serif;
  font-size: 45px;
  color: #6F817B;
  text-align: left;
  margin: 0 0 20px 0;
}
.contenedor-representacion p span {
  font-family: 'Cambo', serif;
  color: #6F817B;  
  font-weight: bold;
  margin: 0 0 20px 0;
}
.imagen-representacion {
  position: relative;
  top: 150px;
}

/*PUNTOS DESTACABLES*/
.puntos-destacables {
  margin: 60px 0; 
}
.puntos-destacables h3 {
  font-family: 'Cambo', serif;
  font-size: 35px;
  color: #6F817B;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  margin: 0;
}
.bloque-destacables-oficinas,
.bloque-destacables-productos,
.bloque-destacables-distribuidores,
.bloque-destacables-viajes {
  transition: all 300ms linear 0s;
  background-repeat: no-repeat;
}
.bloque-destacables-oficinas p,
.bloque-destacables-productos p,
.bloque-destacables-distribuidores p,
.bloque-destacables-viajes p {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #6F817B;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.bloque-destacables-oficinas i,
.bloque-destacables-productos i,
.bloque-destacables-distribuidores i,
.bloque-destacables-viajes i {
  color: #b8db7c;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 30px 0;
  width: 100%;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
}
.bloque-destacables-oficinas i:hover,
.bloque-destacables-productos i:hover,
.bloque-destacables-distribuidores i:hover,
.bloque-destacables-viajes i:hover {
  transform: scale(1.25);
}

/*IMAGEN*/
.imagen-bloque {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%);
  opacity: 1;
}
.imagen figure {
  position: relative;
}
.imagen figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.imagen figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

/*FRASE DESTACADA */
.frase-destacada {
  padding: 50px 0;
  background-color: #000;
}
.frase-destacada h3 {
  font-family: 'Cambo', serif;
  font-size: 35px;
  color: #b8db7c;
  font-weight: lighter;
  line-height: 1.4;
  text-align: center;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
}
.frase-destacada p{
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #6F817B;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0;
}

/*CONSULTORIA*/
.consultoria {
  background-image: url(imagenes/consultoria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 50%;
  position: relative;
  max-width: 100%;
}
.consultoria-bloque {
  background: linear-gradient(-45deg, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0.5) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(150, 150, 150, 0.5), rgba(150, 150, 150, 0.5) 100%);
  opacity: 1;
}
.consultoria h2 {
  font-family: 'Cambo', serif;
  font-size: 45px;
  color: #6F817B;
  text-align: center;
  margin: 0 0 30px 0;
}
.consultoria p {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  color: #6F817B;
  text-align: left;
  padding-bottom: 5px;
  line-height: 1.5;
  margin: 0 auto;
}
.left {
  float: right;  
}
.texto-consultoria p {
  font-family: 'News Cycle', sans-serif;
  color: #6F817B;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  padding-bottom: 5px;
  margin: 0 auto;
}
.texto-consultoria p span {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  color: #6F817B;
  font-weight: bold;
  line-height: 1.5;
}
.contenedor-consultoria {
  background: #fff;
  padding: 120px 30px;
}
.contenedor-consultoria h2 {
  font-family: 'Cambo', serif;
  color: #6F817B;
  font-size: 45px;
  text-align: left;
  margin: 0 0 20px 0;
}

/*FOOTER*/
footer {
  background-color: #000;
  padding:40px 0; 
}
.datos-contacto {
  overflow: hidden;
}
.datos-contacto i {
  font-size: 15px;
  color: #b8db7c;
  display: inline-block;
  float: left;
  padding-top: 8px;
  padding-right: 10px;
  width: 20px;
}
.datos-contacto h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
  color: #b8db7c;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  padding-bottom: 3px;
  margin: 0 auto;
}
.datos-contacto p {
  font-family: 'News Cycle', sans-serif;
  font-size: 15px;
  color: #c6c6c6;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  padding-bottom: 3px;
  padding-left: 20px;
  margin: 0 auto;
}
.datos-contacto span {
  font-family: 'News Cycle', sans-serif;
  font-size: 15px;
  color: #b8db7c;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  padding-bottom: 3px;
  margin: 0 auto;
}
.logo-footer {
  width: 170px; 
  margin: 0 auto;
}
.logo-footer img {
  -webkit-transition: all .9s ease;
  padding-top: 25px;
}
.logo-footer img:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
.logo-footer:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 35px;
}


/* ========================= Responsive ========================= */
@media (max-width: 991px) {
  .nav {
    float: none;
    margin: 0;
  }
  .navbar {
    padding: 0;
    border: none;
    position: fixed;
    background: rgba(35, 35, 35, 0.95) !important;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-nav {
    padding: 0;
    margin: 0;
    float: none;
    overflow: hidden;
  }
  .navbar-nav li {
    float: none;
  }
  .navbar-nav li a {
    float: none;
    padding: 25px 15px;
    width: 100%;
  }
  .navbar-nav li a:hover {
    background-color: #b7bbc1;
    border-bottom: 1px solid transparent;
  }
  .navbar-nav li.logo {
    display: none;
  }
  .navbar-nav li a.boton-idioma-ingles, .navbar-nav li a.boton-idioma-español {
    width: 100%;
    padding: 25px 15px; 
  } 
  .navbar-logo img { 
    margin-left: 25px; 
    height: 45px; 
    margin-top: 5px; 
  }
  .menu-desplegable:hover {
    width: 100%;
    text-align: -webkit-center;
  }
  .navbar-nav > li:hover .sub-menu {
    position: relative;
    background-color: #1c1c1c;
    margin: 0 auto;
    width: 100%;
  }
  .navbar-nav > li .sub-menu {
    -webkit-transition: none;
    margin-top: 0;
    opacity: 1;
    position: relative;
    display: none;
    width: 100%;
  }
  .sub-menu li a p {
    border-top: none;
    color:#fff;
    visibility: visible;
    text-align: center;
  }
  .sub-menu li img {
    padding-bottom: 0;
  }
  .logo img {
    max-height: 50px;
    margin-left: 15px;
  }  
  .scrolled ul.navbar-nav li a {
    padding: 25px 15px;
    color: #fff;
  }
  .idioma-ingles {
    float: none;
  }
  .idioma-ingles, .idioma-español {
    width: 18px;
  }
  .navbar-nav li a.boton-idioma-ingles, .navbar-nav li a.boton-idioma-español {
    width: 100%;
    padding: 25px 15px; 
  }    
  .scrolled .navbar-nav li a.boton-idioma-ingles {
    padding: 25px 0px;
    background-color:#1c1c1c;
  }  
  .scrolled .navbar-nav li a.boton-idioma-ingles:hover {
    background-color:#b7bbc1 ;
  } 
  .scrolled .navbar-nav li a.boton-idioma-español {
    padding: 25px 8px;
  }
  .hamburger--collapse-r {
    display: block;
  }
  .hamburger--emphatic { 
    display: block; 
  }
  .navbar-collapse {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-top: 0;
    padding: 40px 0;
    top: 100%;
    text-align: center;
    border-top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all .3s;
    background-color: #1c1c1c; 
    clip-path: circle(0px at top right);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    transform: translateX(0%);
    margin: 0;
    padding:0;
  }  
  div.topBotomBordersOut a:before {
    background: transparent;
  }
  .scrolled .navbar-nav { 
    height: auto; 
  }  
  .scrolled .navbar-nav li a {
    padding: 50px 10px; 
  }
  .scrolled .navbar-nav li a i {
    color:#fff;
  }
  .navbar-logo .logo-white {
    max-height: 45px;
    transition: max-height 0.4s;
    max-width: none;    
    margin-top: 8px;
  }
  .navbar-logo .logo-color {
    max-height: 45px;
    transition: max-height 0.4s;
    max-width: none;
    margin-top: 8px;
  }
  .scrolled .navbar-logo .logo-color {
    max-height: 45px;
    transition: max-height 0.4s, opacity 0.3s;
    margin-top: 8px;
    opacity: 0;
    display: none;
  }
  .scrolled .navbar-logo .logo-white {
    max-height: 45px;
    transition: max-height 0.4s, opacity 0.3s;
    margin-top: 8px;
    opacity: 1;
  }
  .scrolled .navbar-logo .logo { 
    max-height: 50px; 
    margin-left:25px;
    margin-top: 5px;
  }
  .menu {
    height: 100vh;
  }
  .ip-header {
    display: inline;
  }
  .video-empresa {
    height: 100vh;
    width: auto;
  }
  .texto-intro-formulario {
    width: 100%; 
  }
  .texto-intro-formulario li a p {
    margin-bottom: 10px;
  }
  .datos-cliente-formulario { 
    border-right: none; 
    padding: 0 15px;
  }
  .imagen-representacion {
    top: 0;
  }
  .imagen-representacion img {
    height: 200px; 
    padding: 20px; 
    margin: 0 auto;
  }
  .logo-footer {
    padding-bottom: 20px; 
  }
  .datos-contacto {
    padding-top: 20px;
  }
}  

@media (max-width: 768px) {
  .formulario-home {
    height: auto;
  }
  .asesoramiento, .formulario-bloque {
    height: 100%
  }
  .texto-intro-formulario {
    padding: 50px 0;
  }
  .formulario-bloque h3 {
    text-align: center;
  }
  .formulario-bloque p {
    text-align: center;
  }
  .imagen-representacion {
    top: 0;
  }
  .left {
    float: none;
  }
  .contenedor-servicios h2,
  .contenedor-representacion h2,
  .contenedor-consultoria h2 {
    font-size: 40px;
  }
  .caracteristicas-nosotros h3, .frase-destacada h3, .puntos-destacables h3 {
    font-size: 30px;
  }
  .contactenos h2 {
    font-size: 30px;
  }
  .texto-intro-formulario h2 { 
    font-size:25px; 
  }
}

@media (max-width: 480px) {
  .contactenos .boton-enviar {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .ip-loader { 
    bottom: 40px; 
  }
  .contenedor-servicios h2,
  .contenedor-representacion h2,
  .contenedor-consultoria h2 {
    font-size: 30px;
  }  
}